* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto";
}

.loader{
    z-index: 101;
    position: fixed;
    background: #151515;
    height: 100vh;
    width: 100%;
}

.loader-animation{
    animation: saida 1s forwards;   
}

@keyframes saida {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100vh);
        display: none;
    }
}


.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.percent{
    color: #999;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}

.progress-bar{
    width: 406px;
    height: 21px;
    background: #111;
    border-radius: 13px;
    padding: 3px;

}

.progress{
    width: 200px;
    height: 15px;
    background: #f60d54;
    border-radius: 13px;
}
